.about {
  .about__me {
    padding-bottom: 20px;
    h2 {
      padding: 0 0 16px 0;
      color: #ff8303;
      text-align: center;
      font-size: 32px;
      font-weight: 700;
    }
    p {
      padding: 5px 0;
      font-size: 24px;
      font-weight: 400;
      color: #f0e3ca;
      text-align: justify;
    }
  }
}
