.title {
  h1 {
    padding-bottom: 30px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #ff8303;
  }
}
.skills__cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
  padding-bottom: 20px;
  .items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    max-width: 200px;
    height: 250px;
    background-color: red;
    background: rgba(240, 227, 202, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.6px);
    -webkit-backdrop-filter: blur(14.6px);
    img {
      filter: blur(var(--value, 1rem));
      --value: 4px;
      transition: 0.3s !important;
    }
    h2 {
      font-size: 32px;
      font-weight: 400;
      color: #fff;
      text-align: center;
      transition: 0.3s !important;
    }
    p {
      font-size: 24px;
      font-weight: 400;
      color: #f0e3ca;
      text-align: center;
    }
    &:hover img {
      filter: blur(0);
      transition: 0.3s !important;
    }
    &:hover h2 {
      color: #ff8303;
      transition: 0.3s !important;
    }
  }
}

@media (max-width: 1040px) {
  .skills__cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 811px) {
  .skills__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 630px) {
  .skills__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .skills__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .skills__cards .items {
    max-width: 100%;
  }
}
