.education {
  h1 {
    font-size: 32px;
    font-weight: 700;
    color: #ff8303;
    text-align: center;
  }
  .education__user__information {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 32px;
    .information {
      padding-bottom: 20px;
      .items {
        display: flex;
        flex-direction: column;
        gap: 10px;
        span {
          color: white;
        }
        p {
          font-size: 32px;
          font-weight: 700;
          color: #ff8303;
          a {
            color: #ff8303;
          }
        }
        p {
          font-size: 24px;
          font-weight: 400;
          color: #ff8303;
        }
      }
    }
  }
}
